# OpenAI settings
AI_KEY=""		# OpenAI API Key
AI_MODEL=""		# OpenAI Deployment Model
AI_URL=""		# OpenAI URL

# OAuth Client ID for client type 3 (see google-services.json)
OAUTH_CLIENT_ID=""	# OAuth Client ID
