# OpenAI settings
AI_KEY=""		    # Pre-md5 AI API Key
AI_MODEL=""		    # AI API Deployment Model
AI_URL=""		    # AI API URL

# OAuth Client ID for client type 3 (see google-services.json)
OAUTH_CLIENT_ID=""	# OAuth Client ID
